
<!DOCTYPE html>
<html>
<title>บทเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="#home" class="w3-bar-item w3-button"><b>รวมบทเพลงพระราชนิพนธ์</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="home" class="w3-bar-item w3-button">HOME</a>
      <a href="kingsong1" class="w3-bar-item w3-button">Kingsong1</a>
      <a href="kingsong2" class="w3-bar-item w3-button">Kingsong2</a>
      <a href="kingsong3" class="w3-bar-item w3-button">Kingsong3</a>

    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
  <center> <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">เพลงของพ่อ</h1></center>
  </div>

    <center> <img src="https://farm2.staticflickr.com/1699/23627281059_fe3770ac36_o.jpg"></center><br><br>
<br>


 <div class="w3-col l3 m6 w3-margin-bottom">
<h3><a href="kingsong1">ยามเย็น</a><br></h3>
<h3><a href="kingsong2">แสงเทียน</a><br></h3>
<h3><a href="kingsong3">พรปีใหม่</a><br></h3>
</div>

</body>
</html>