
<!DOCTYPE html>
<html>
<title>บทเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="#home" class="w3-bar-item w3-button"><b>รวมบทเพลงพระราชนิพนธ์</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="home" class="w3-bar-item w3-button">HOME</a>
      <a href="kingsong1" class="w3-bar-item w3-button">Kingsong1</a>
      <a href="kingsong2" class="w3-bar-item w3-button">Kingsong2</a>
      <a href="kingsong3" class="w3-bar-item w3-button">Kingsong3</a>

    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
  <center> <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">เพลงของพ่อ</h2></center>
  </div>


 <div class="w3-col l3 m6 w3-margin-bottom">
<h3><a href="kingsong1">แสงเทียน</a><br></h3>
จุดเทียนบวงสรวงปวงเทพเจ้า<br>
สวดมนต์ค่ำเช้าถึงคราวระทมทน<br>
โอ้ชีวิตหนอล้วนรอความตายทุกคน<br>
หลีกไปไม่พ้นทุกข์ทนอาทรร้อนใจ<br>
ต่างคนเกิดแล้วตายไป<br>
ชดใช้เวรกรรมจากจร<br><br>

นิจจังสังขารนั้นไม่เที่ยงเสี่ยงบุญกรรม<br>
ทุกคนเคยทำกรรมไว้ก่อน<br>
เชิญปวงเทวดาข้าไหว้วอน<br>
ขอพรคุ้มไปชีวิตหน้า<br>
ทนทรมานมามากแล้วจะกราบลา<br>
หนีปวงโรคาที่เบียดเบียน<br>
แสงแววชีวาเปรียบแสงเทียน<br><br>

เปรียบเทียนสิ้นแสงยามแรงลมเป่า<br>
ชีพดับอับเฉาเหมือนเงาไร้ดวงเทียน<br>
จุดเทียนถวายหมายบนบูชาร้องเรียน<br>
โรคภัยเบียดเบียนแสงเทียนทานลมพัดโบย<br>
โรครุมเร้าร้อนแรงโรย<br>
หวนโหยอาวรณ์อ่อนใจ<br><br>

ทำบุญทำทานกันไว้เถิดเกิดเป็นคน<br>
ไว้เตรียมผจญชีวิตใหม่<br>
เคยทำบุญทำคุณปางก่อนใด<br>
ขอบุญคุ้มไปชีวิตหน้า<br>
ทนทรมานมามากแล้วจะกราบลา<br>
แสงเทียนบูชาจะดับพลัน<br>
แสงเทียนบูชาดับลับไป<br><br>
</div>


<center><iframe width="854" height="480" src="https://www.youtube.com/embed/VadBrjU1ye0" frameborder="0" allowfullscreen></iframe></center>


</body>
</html>