
<!DOCTYPE html>
<html>
<title>บทเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="#home" class="w3-bar-item w3-button"><b>รวมบทเพลงพระราชนิพนธ์</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="home" class="w3-bar-item w3-button">HOME</a>
      <a href="kingsong1" class="w3-bar-item w3-button">Kingsong1</a>
      <a href="kingsong2" class="w3-bar-item w3-button">Kingsong2</a>
      <a href="kingsong3" class="w3-bar-item w3-button">Kingsong3</a>

    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
  <center> <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">เพลงของพ่อ</h2></center>
  </div>


 <div class="w3-col l3 m6 w3-margin-bottom">
<h3><a href="kingsong1">ยามเย็น</a><br></h3>
แดดรอนรอน<br>
เมื่อทินกรจะลับเหลี่ยมเมฆา<br>
ทอแสงเรืองอร่ามช่างงามตา<br>
ในนภาสลับจับอัมพร<br><br>

แดดรอนรอน<br>
เมื่อทินกรจะลาโลกไปไกล<br>
ยามนี้จำต้องพรากจากดวงใจ<br>
ไกลแสนไกลสุดห่วงยอดดวงตา<br><br>

แต่ก่อนเคยคลอเคลียกัน <br>
ทุกวันคืนรื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญาณ์<br>
เหมือนดังนภาไร้ทินกร<br><br>

แดดรอนรอน<br>
หากทินกรจะลาโลกไปไกล<br>
ความรักเราคงอยู่คู่กันไป<br>
ในหัวใจคงอยู่คู่เชยชม<br><br>

แดดรอนรอน<br>
หมู่มวลภมรบินลอยล่องตามลม<br>
คลอเคล้าพฤกษาชาติชื่นเชยชม<br>
ชมสมตามอารมณ์ล่องเลยไป<br><br>

ลิ่วลมโชย<br>
กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย<br>
ยามสายัณห์พลันพรากจากดวงใจ<br>
คอยแสงทองวันใหม่กลับคืนมา<br><br>

แต่ก่อนเคยคลอเคลียกัน<br>
ทุกวันคืนชื่นอุรา<br>
ต้องอยู่เดียวเปลี่ยววิญญาณ์<br>
เหมือนดังนภาไร้ทินกร<br><br>

โอ้ยามเย็น<br>
จวบยามนี้เป็นเวลาสุดอาวรณ์<br>
ยามไร้ความสว่างห่างทินกร<br>
ยามรักจำจะจรจากกันไป<br><br>
</div>

<center><iframe width="854" height="480" src="https://www.youtube.com/embed/EcoGn9SzU88" frameborder="0" allowfullscreen></iframe></center>


</body>
</html>