
<!DOCTYPE html>
<html>
<title>บทเพลงพระราชนิพนธ์</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="#home" class="w3-bar-item w3-button"><b>รวมบทเพลงพระราชนิพนธ์</b></a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="home" class="w3-bar-item w3-button">HOME</a>
      <a href="kingsong1" class="w3-bar-item w3-button">ยามเย็น</a>
      <a href="kingsong2" class="w3-bar-item w3-button">แสงเทียน</a>
      <a href="kingsong3" class="w3-bar-item w3-button">พรปีใหม่</a>
    </div>
  </div>
</div>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
  <center> <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">เพลงของพ่อ</h2></center>
  </div>


 <div class="w3-col l3 m6 w3-margin-bottom">
<h3><a href="kingsong1">พรีปีใหม่</a><br></h3>
สวัสดีวันปีใหม่พา<br>
ให้บรรดาเราท่านรื่นรมย์<br>
ฤกษ์ยามดีเปรมปรีดิ์ชื่นชม<br>
ต่างสุขสมนิยมยินดี<br><br>

ข้าวิงวอนขอพรจากฟ้า<br>
ให้บรรดาปวงท่านสุขศรี<br>
โปรดประทานพรโดยปรานี<br>
ให้ชาวไทยล้วนมีโชคชัย<br><br>

ให้บรรดาปวงท่านสุขสันต์<br>
ทุกวันทุกคืนชื่นชมให้สมฤทัย<br>
ให้รุ่งเรืองในวันปีใหม่<br>
ผองชาวไทยจงสวัสดี<br><br>

ตลอดปีจงมีสุขใจ<br>
ตลอดไปนับแต่บัดนี้<br>
ให้สิ้นทุกข์สุขเกษมเปรมปรีดิ์<br>
สวัสดีวันปีใหม่เทอญ<br><br>
</div>

<center><iframe width="854" height="480" src="https://www.youtube.com/embed/DzbjoJdhLqI" frameborder="0" allowfullscreen></iframe></center>


</body>
</html>